a{
  color:hsl(0, 0%, 100%);
  transition: color .5s;
  text-decoration: none;
}

a:hover{
  color: hsl(178, 100%, 50%);
}

body{
  background-color:hsl(217, 54%, 11%);
}

hr{
  border:solid hsl(215, 32%, 27%) 0.5px;
  margin:auto 20px;
}

.main-wrapping{
  background-color:hsl(216, 50%, 16%);
  width:300px;
  height:500px;
  margin:150px auto;
  border-radius: 5%;
}

.main-img{
  width:260px;
  margin:20px;
  border-radius: 5%;
}

.small-img{
  width:8%;
  float:left;
  margin:13px 15px auto 20px;
  border:white solid 1px;
  border-radius: 50%;
}

.title{
  color:hsl(0, 0%, 100%);
  font-family: 'Outfit', sans-serif;
  font-size: 600;
  margin:0 auto 0 20px;
}

.description{
  color:hsl(215, 51%, 70%);
  font-family: 'Outfit', sans-serif;
  font-size: 400;
  margin:15px auto 0 20px;
  font-weight: lighter;
}

.diamond{
  width:16%;
  float:left;
  position:relative
  bottom:5px;
}

.price{
  color:hsl(178, 100%, 50%);
  font-family: 'Outfit', sans-serif;
  font-size: 300;
  margin-left:20px;
  width:40%;
  font-weight: lighter;

}

.clock{
  width:11%;
  margin-right:4px;
  margin-left: 5px;
}

.time-limit{
 color:hsl(215, 51%, 70%);
 font-family: 'Outfit', sans-serif;
 font-size: 300;
 margin-right:20px;
 font-weight: lighter;
 width:33%;
}

.signature{
color:hsl(215, 51%, 70%);
font-family: 'Outfit', sans-serif;
font-size: 300;
}

.name{
  color:hsl(0, 0%, 100%);
  text-decoration:
}
